{%extends "layout.html"%}
{%block content %}
{%for job in jobs%}
<!-- ====== Start Message ======  -->
<div style="padding: 20px">
  <b style="color: rgb(15, 68, 138);">{{job.name}}</b>
  <p> <small class="col-lg-10">{{job.message}}<span><b> ~ contact : {{job.email}}</b></span></small> </p>
  <div style="padding-right: 15px;">
    <small class="pull-right time"><i class="fa fa-calendar"></i> {{job.date}}</small><br><small
      class="pull-right time"><i class="fa fa-clock-o"></i> {{job.time}}</small>
  </div>
  <div style="padding: 20px; box-shadow: 0px 2px 8px rgba(0, 0, 0, .25);"></div>
</div>
<!-- ====== End Message ======  -->
{%endfor%}
{%endblock%}