<!doctype html>

<html class="no-js" lang="zxx">

<head>

  <!-- metas -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="UI / UX Designer , Web / Mobile App Developer & Digital Marketer">
  <meta name="keywords" content="thedivinez, divinez, divine zvenyika, developer, thedivine, divine, agency">
  <meta name="google-site-verification" content="M-dg_82b6e7mWYKmwLrGpI5-UKXVD8J7LSByEbD6DIU" />
  <!-- title -->
  <title>Welcome</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">

  <!-- bootstrap css -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800" rel="stylesheet">

  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

  <!-- magnific-popup CSS -->
  <link rel="stylesheet" href="../static/css/magnific-popup.css">

  <!-- Font Icon Core CSS -->
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/et-line.css">

  <!-- Core Style Css -->
  <link rel="stylesheet" href="../static/css/style.css">

  <!--[if lt IE 9]-->
  <script src="../static/js/html5shiv.min.js"></script>
  <!--[endif]-->
  {%block customcss %}{%endblock%}
</head>

<body style="scrollbar-width: none;">

  <!-- ====== Preloader ======  -->
  <div class="loading">
    <div class="load-circle"> </div>
  </div>
  <!-- ======End Preloader ======  -->

  <!-- ======Start Content ======  -->
  {%block content %}{%endblock%}
  <!-- ======End Content ======  -->

  <button class="btn scroll-top" data-scroll="up" type="button"> <i class="fa fa-chevron-up"></i> </button>

  <!-- Success Modal HTML -->
  <div id="success_modal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="icon-box">
            <i class="fa fa-check"></i>
          </div>
          <h4 class="modal-title w-100"><b>Sent!</b></h4>
        </div>
        <div class="modal-body">
          <p id="response_message" class="text-center">Message from server</p>
        </div>
        <div class="modal-footer">
          <button class="buton buton-bg btn-block" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

  <!-- bootstrap -->
  <script src="../static/js/bootstrap.min.js"></script>

  <!-- scrollIt -->
  <script src="../static/js/scrollIt.min.js"></script>

  <!-- magnific-popup -->
  <script src="../static/js/jquery.magnific-popup.min.js"></script>

  <!-- owl carousel -->
  <script src="../static/js/owl.carousel.min.js"></script>

  <!-- stellar js -->
  <script src="../static/js/jquery.stellar.min.js"></script>

  <!-- animated.headline -->
  <script src="../static/js/animated.headline.js"></script>

  <!-- jquery.waypoints.min js -->
  <script src="../static/js/jquery.waypoints.min.js"></script>

  <!-- jquery.counterup.min js -->
  <script src="../static/js/jquery.counterup.min.js"></script>

  <!-- isotope.pkgd.min js -->
  <script src="../static/js/isotope.pkgd.min.js"></script>

  <!-- validator js -->
  <script src="../static/js/validator.js"></script>

  <!-- custom script -->
  <script src="../static/js/custom.js"></script>
  <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-21c49740-b82f-4f23-9c6b-b1647ded961e"></div> -->
  {%block custom_js%}{%endblock%}
  <!-- VISA Tracking Code for http://thedivinez.online -->
  <script>(function (v, i, s, a) { if (!v._visaSettings) { v._visaSettings = {}; } v._visaSettings["be5cb7f6-b48a-11eb-b589-901b0edac50a"] = { v: "0.3", s: "be5cb7f6-b48a-11eb-b589-901b0edac50a", a: "1" }; _v = i.getElementsByTagName("head")[0]; _a = _v; _i = i.createElement("script"); _s = _i; _s.defer = "defer"; _s.src = s + a + v._visaSettings["be5cb7f6-b48a-11eb-b589-901b0edac50a"].v; _a.appendChild(_s); })(window, document, "//app-worker.visitor-analytics.io/main", ".js?s=be5cb7f6-b48a-11eb-b589-901b0edac50a&v=")</script>
  <!-- VISA Tracking Code for http://thedivinez.online -->

  <!-- Default Statcounter code for My Personal Website
http://thedivinez.online -->
  <!-- Default Statcounter code for My Personal Website
http://thedivinez.online -->
  <script type="text/javascript">
    var sc_project = 12534551;
    var sc_invisible = 1;
    var sc_security = "f4b88592";
    var sc_remove_link = 1;
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><img class="statcounter" src="https://c.statcounter.com/12534551/0/f4b88592/1/" alt="Web Analytics Made Easy -
  StatCounter"></div>
  </noscript>
  <!-- End of Statcounter Code -->
</body>

</html>