{%extends "layout.html"%}
{%block content %}
<!-- ====== Navgition ======  -->
<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-icon-collapse"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- logo -->
			<a class="logo" href="#">Divine</a>

		</div>

		<!-- Collect the nav links, and other content for toggling -->
		<div class="collapse navbar-collapse" id="nav-icon-collapse">

			<!-- links -->
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" data-scroll-nav="0" class="active">Home</a></li>
				<li><a href="#" data-scroll-nav="1">About</a></li>
				<li><a href="#" data-scroll-nav="2">Services</a></li>
				<li><a href="#" data-scroll-nav="3">Portfolio</a></li>
				<li><a href="#" data-scroll-nav="6">Contact</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
<!-- ====== End Navgition ======  -->

<!-- ====== Header ======  -->
<section id="home" class="header" data-scroll-index="0" style="background-image: url(../static/img/main/bg4.jpg);"
	data-stellar-background-ratio="0.8">

	<div class="v-middle">
		<div class="container">
			<div class="row">

				<!-- caption -->
				<div class="caption">
					<h5>Hello</h5>
					<h1 class="cd-headline clip">
						<span class="blc">I Am a </span>
						<span class="cd-words-wrapper">
							<b class="is-visible">Developer</b>
							<b>Designer</b>
						</span>
					</h1>

					<!-- social icons -->
					<div class="social-icon">
						<a href="tel:+263786854223">
							<span><i class="fa fa-phone" aria-hidden="true"></i></span>
						</a>
						<a href="https://wa.me/263786854223?text=Hi" target="_blank">
							<span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
						</a>
						<a href="https://instagram.com/the_divinez" target="_blank">
							<span><i class="fa fa-instagram" aria-hidden="true"></i></span>
						</a>
						<a href="https://facebook.com/thedivinez" target="_blank">
							<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
						</a>
						<a href="https://github.com/thedivinez" target="_blank">
							<span><i class="fa fa-github" aria-hidden="true"></i></span>
						</a>
					</div>
				</div>
				<!-- end caption -->
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
<!-- ====== End Header ======  -->

<!-- ====== Hero ======  -->
<section class="hero section-padding pb-70" data-scroll-index="1">
	<div class="container">
		<div class="row">

			<!-- hero image -->
			<div class="col-md-5">
				<div class="hero-img mb-30">
					<img src="../static/img/main/me.jpg" alt="">
				</div>
			</div>

			<!-- content -->
			<div class="col-md-7">
				<div class="content mb-30">
					<h3>About Me.</h3>
					<span class="sub-title">UI/UX Designer, Web/Mobile App Developer & Digital Marketer</span>
					<p>Hi I’m <b>Divine</b>. I enjoy being challenged and engaging with projects that require me to work outside
						my comfort and knowledge set, as continuing to learn new languages and development techniques are important
						to me and the success of your project. A few of my skills which would enable me to contribute to your
						project are:<br><br>

						✱ Highly skilled in designing, testing, and developing software<br>
						✱ Thorough understanding of data structures and algorithms<br>
						✱ Knowledgeable of back-end development best practices<br>
						✱ Hands-on software troubleshooting experience<br><br>

						<i><b>I look forward to working with you.</b></i>
					</p>
					<br>
					<span><b>✓ Python ✓ Node Js ✓ Flutter ✓ C# ✓ Java ✓ Javascript ✓ HTML5 ✓ CSS3</b></span>
					<!-- skills progress -->
					<div class="skills">
						<div class="item">
							<div class="skills-progress">
								<h6>Web & Mobile Development</h6>
								<span data-value="95%"></span>
							</div>
						</div>
						<div class="item">
							<div class="skills-progress">
								<h6>API Development</h6>
								<span data-value="90%"></span>
							</div>
						</div>
						<div class="item">
							<div class="skills-progress">
								<h6>Marketing</h6>
								<span data-value="80%"></span>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<a href="#0" data-scroll-nav="6">
						<span class="buton buton-bg">Contact Me</span>
					</a>

				</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
<!-- ====== End Hero ======  -->

<!-- ====== Services ======  -->
<section class="services section-padding bg-gray text-center pb-70" data-scroll-index="2">
	<div class="container">

		<!-- section heading -->
		<div class="section-head">
			<h3>Services.</h3>
		</div>

		<div class="row">

			<!-- items -->
			<div class="col-md-4">
				<div class="item">
					<span class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
					<h6>Web Design</h6>
					<p>
						I design compelling and attractive websites from simple to complex ones with payment gateways intergration.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item">
					<span class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
					<h6>Mobile Apps</h6>
					<p>I develop Android and IOS mobile apps that are both well-received and commercially viable according to your
						requirements.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item">
					<span class="icon"><i class="fa fa-code" aria-hidden="true"></i></span>
					<h6>API Development</h6>
					<p>I build robust APIs and I have deep understanding of architecture and development in Service Oriented
						models
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item">
					<span class="icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
					<h6>Digital Marketing</h6>
					<p>I provide all the expertise you need to establish the online presence of your business on all digital
						platforms.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item">
					<span class="icon"><i class="fa fa-television" aria-hidden="true"></i></span>
					<h6>Fully Responsive</h6>
					<p>I create a website that is mobile friendly with high loading page speeds & accessible from
						different devices.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item">
					<span class="icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
					<h6>Search Optimization</h6>
					<p>
						I will enhance your Web Presence and provide insight about the behaviour and demographics of
						your website visitors.
					</p>
				</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
<!-- ====== End Services ======  -->

<!--====== Portfolio ======-->
<section class="portfolio section-padding pb-70" data-scroll-index="3">
	<div class="container">
		<div class="row">

			<!-- section heading -->
			<div class="section-head">
				<h3>Portfolio.</h3>
			</div>

			<!-- filter links -->
			<div class="filtering text-center mb-50">
				<span data-filter='*' class="active">All</span>
				<span data-filter='.web'>Web</span>
				<span data-filter='.mobile'>Mobile</span>
				<span data-filter='.desktop'>Desktop</span>
			</div>

			<!-- gallery -->
			<div class="gallery text-center">
				{%for imagedata in portfoliodata%}
				<!-- gallery item -->
				<div class="col-md-4 col-sm-6 items {{imagedata.subsection}}">
					<div class=" item-img">
						<img src={{imagedata.image}} alt="image">
						<div class="item-img-overlay">
							<div class="overlay-info v-middle text-center">
								<h6 class="sm-titl">{{imagedata.title}}</h6>
								<div class="icons">
									<span class="icon">
										<a href={{imagedata.link}} target="_blank">
											<i class="fa fa-chain-broken" aria-hidden="true"></i>
										</a>
									</span>

									<span class="icon link">
										<a href={{imagedata.image}}>
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
<!--====== End Portfolio ======-->

<!--====== Numbers ======-->
<div class="numbers section-padding text-center pb-70">
	<div class="container">
		<div class="row">

			<!-- items -->
			<div class="col-md-3">
				<div class="item">
					<span class="icon"><i class="fa fa-history" aria-hidden="true"></i></span>
					<h3 class="counter">3</h3>
					<p>Years of experiance</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="item">
					<span class="icon"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
					<h3 class="counter">167</h3>
					<p>Received Projects</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="item">
					<span class="icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
					<h3 class="counter">153</h3>
					<p>Complete Projects</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="item">
					<span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
					<h3 class="counter">132</h3>
					<p>Happy Customers</p>
				</div>
			</div>

		</div><!-- /row -->
	</div><!-- /container -->
</div>
<!--====== End Numbers ======-->

<!--====== Contact ======-->
<section class="contact section-padding" data-scroll-index="6">
	<div class="container">
		<div class="row">

			<!-- section heading -->
			<div class="section-head">
				<h3>Contact Me.</h3>
			</div>

			<div class="col-md-offset-1 col-md-10">

				<!-- contact info -->
				<div class="info text-center mb-50">

					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
							<h6>Location</h6>
							<p>Harare</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
							<h6>Email</h6>
							<p>info@thedivinez.online</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
							<h6>Phone</h6>
							<p>+263 786 854 223</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

				<!-- contact form -->
				<form class="form" id="contact-form">
					<div class="messages"></div>

					<div class="controls">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input id="form_name" type="text" name="name" placeholder="Name" required>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<input id="form_email" type="text" name="email" placeholder="Phone or Email" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea id="form_message" type="text" name="message" placeholder="Message" rows="4"
										required></textarea>
								</div>
								<input type="submit" id="submit" value="Submit" class="buton buton-bg">
							</div>
						</div>
					</div>
				</form>

			</div>
		</div><!-- /row -->
	</div><!-- /container -->

</section>
<!--====== End Contact ======-->

<!--====== Footer ======-->
<footer>
	<div class="container text-center">
		<div class="row">
			<p>Copy Right 2021 &copy; By Divine Zvenyika All Rights Reserved</p>
		</div>
	</div>
</footer>
<!--====== End Footer ======-->
{%endblock%}